#container {
    margin-top: 50px;
    margin-left: 100px;
    margin-right: 100px;
}

h1,h2,h3,h4 {
    font-family: "Audiowide", sans-serif;
    background-color: maroon;
    border: 1px solid #D6A800;
    padding:10px;
    border-radius: 5px;
    color: azure;
}

a {
    font-weight: bold;
    text-decoration: none;
    font-size: 1.25em;
    color: maroon;
}

