body {
    font-size: 16px;
}

p {
    font-weight: 400;
    line-height: 1.4em;
}

h1 {
   font-weight: 700;
   text-transform: uppercase;
   text-align: center;
} 

h2 {
   font-weight: 500;
   text-align: left;
   padding-top: 15px;
} 

address {
    text-align: center;
}

a {
    font-weight: bold;
    text-decoration: none;
    font-size: 1.25em;
    color: #4F3674;
}

a:visited {
    color: #4F3675;
    
}

a:hover,:focus {
    color: #D6A800;
    text-decoration: underline;
}

span.sentence {
    font-style: italic;
}

.intro {
    text-indent: 40px;
}
    
    
